[submodule "src/configs/GNU_Make"]
	path = src/configs/GNU_Make
	url = https://github.com/lshprung/gnu-make-dash-docset.git
[submodule "src/configs/debmake"]
	path = src/configs/debmake
	url = https://github.com/lshprung/debmake-dash-docset.git
[submodule "src/configs/Flex"]
	path = src/configs/Flex
	url = https://github.com/lshprung/flex-dash-docset
[submodule "src/configs/GNU_Autoconf"]
	path = src/configs/GNU_Autoconf
	url = https://github.com/lshprung/gnu-autoconf-dash-docset
[submodule "src/configs/GNU_Autoconf_Archive"]
	path = src/configs/GNU_Autoconf_Archive
	url = https://github.com/lshprung/gnu-autoconf-archive-dash-docset
[submodule "src/configs/GNU_Bash"]
	path = src/configs/GNU_Bash
	url = https://github.com/lshprung/gnu-bash-dash-docset
[submodule "src/configs/GNU_Bison"]
	path = src/configs/GNU_Bison
	url = https://github.com/lshprung/gnu-bison-dash-docset.git
[submodule "src/configs/GNU_Automake"]
	path = src/configs/GNU_Automake
	url = https://github.com/lshprung/gnu-automake-dash-docset.git
[submodule "src/configs/ncurses"]
	path = src/configs/ncurses
	url = git@github.com:lshprung/ncurses-dash-docset.git
[submodule "src/configs/GNU_Coding_Standards"]
	path = src/configs/GNU_Coding_Standards
	url = git@github.com:lshprung/gnu-coding-standards-dash-docset.git
[submodule "src/configs/GNU_Libtool"]
	path = src/configs/GNU_Libtool
	url = git@github.com:lshprung/gnu-libtool-dash-docset.git
[submodule "src/configs/GNU_Guix"]
	path = src/configs/GNU_Guix
	url = https://github.com/lshprung/gnu-guix-dash-docset
[submodule "src/configs/glibc"]
	path = src/configs/glibc
	url = https://github.com/lshprung/gnu-libc-dash-docset
[submodule "src/configs/GNU_Coreutils"]
	path = src/configs/GNU_Coreutils
	url = https://github.com/lshprung/gnu-coreutils-dash-docset
