[submodule "src/configs/GNU_Make"]
	path = src/configs/GNU_Make
	url = https://github.com/lshprung/gnu-make-dash-docset.git
[submodule "src/configs/debmake"]
	path = src/configs/debmake
	url = https://github.com/lshprung/debmake-dash-docset.git
[submodule "src/configs/flex"]
	path = src/configs/flex
	url = https://github.com/lshprung/flex-dash-docset
